
body {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
  	background-color: white;
}
h1 {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
  	color: white;
  	text-align: center;
}

p 	{
  		font-family: verdana, arial, sans-serif;
        Font-size: 12px;
        font-style: normal;
        line-height: 1.5;
		}
a {
		font-family: verdana, arial, sans-serif;
        Font-size: 12px;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
        color: crimson;
  		text-align: left;
}
table {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
	font-style: normal;
	line-height: 1.5;
	max-width: 1000px;
        
	}
tr {
		border-style: solid;
 		border-width: 0px 0px;
        border-color: #000000;
}
tr .pics {
		max-height: 150px;
		}
td {
        height: 25px;
        box-sizing: border-box;
}
th {
		height:25px;
}
ul {
		font-family: verdana, arial, sans-serif;
        Font-size: 12px;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        list-style-type: none;
        line-height: 1.5;
  		text-align: left;
}
ol {
		font-family: verdana, arial, sans-serif;
        Font-size: 12px;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
        line-height: 1.5;
  		text-align: left;
 }
.bannerbkg {
	background-color: black;
}
.bodypic {
		height: 100px;
		width: 800px;
		margin: 10px 0px;
		padding: 0px 0px;
		white-space: pre-wrap;
}
.brd1 {
		border-style: solid;
        border-width: 1px 0px 0px 0px;
        border-color: #000000;
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 0px 10px;
        box-sizing: border-box;
}
.btopnav {
	width: 100%;
	height: 100px;
	padding: 0px 0px;
	margin: 0px 0px;
	z-index: -1;
}
.cast {
		font-family: verdana, arial, sans-serif;
        Font-size: 12px;
        font-style: normal;
        font-weight: bold;  
}
.cell {
		max-width: 150px;
        padding: 0px 0px 0px 0px;
        height: 25px;
}
.center {
        text-align: center;
        }
.content1 {
	max-width: 800px;
	padding: 0px 20px;
	margin: 0px 0px;
}
.content2 {
	max-width: 575px;
	padding: 325px 100px 100px 150px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	color: #ffffff !important;
}
.content2 .homespcr p {
	max-width: 575px;
	color: white;
}
.cthumbs {
		height: 150px;
		Width: 150px;
		padding: 0px 0px 0px 0px;
		border: 1px solid black;	
}
.clearfix::after {
  		content: "";
  		clear: both;
  		display: table;
}
.dcell {
		padding: 10px 0px 0px 10px;
}
.descr {
		color: black;
}
.fanart_thmb {
		height: 225px;
		Width: 400px;
		padding: 0px 0px 0px 0px;
		border: 1px solid black;
}
.footer {
	background-color: #000000;
	width: 100%;
	height: 75px;
	padding: 20px 20px 100% 20px;
	margin: 0px 0px 0px 0px;
	z-index: -1;
}
.hdheadr {
		width: 800px;
		padding: 0px 0px 0px 20px;
}
.hdheadr h1 {
		font-family: verdana, arial, sans-serif;
        Font-size: 24px;
        font-style: normal;
        font-weight: bold;
  		text-align: left;
		padding: 10px 0px 0px 0px;
		margin: 0px 0px;
        color: crimson;
        display: inline-block;
}
.hdlogo {
	width: 220px;
	height: 75px;
	padding: 0px 20px;
	margin: 0px 0px;
	background-repeat: no-repeat;
	float: left;
	z-index: 1;
}
.hero-image {
  background: url(Assets/Home_Banner_03B.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}
.homebkg {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px;
  background-image: url(Assets/Home_Banner_02.jpg);
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.homebanner {
  width: 100%;
  height: auto;
}
.homespcr h1 {
	text-align: left !important;
	vertical-align: text-bottom;
	height: 100%;
}
.howto {
		color: crimson;
		font-weight: bold;
}
.left {
		Max-width: 150px;
	   text-align: left;
	   vertical-align: text-top;
	   }
.navbar {
	display: block;
	padding: 14px 16px;
}
.navbar {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
}
.navbar:hover {
	color: white !important;
	background-color: crimson;
}
.navbar:visited {
	color: #816e01;
	background-color: crimson;
}
.navbar:focus {
	color: white;
	background-color: #339966;
}
.para {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
		   
}
.para a {
			   color: crimson;
}
.para:hover {
			   text-decoration: underline;
			   color: crimson;
}
.para:visited {
				   color: #816e01;		   
}
.para:focus {
		text-decoration: underline;
		color: #339966;
}
.plotcontent {
	max-width: 800px;
	height: auto;
  	text-align: left;
	padding: 0px 0px 50px 20px;
	margin: 0px 0px 0px 0px;
}
.plotcontent p {
	line-height: 1.5;
	vertical-align: text-top;
}
.steps {
	font-family: verdana, arial, sans-serif;
	Font-size: 12px;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: crimson;
	  text-align: left;
}
.steps:hover {
	text-decoration: underline;
	color: crimson;
}
.steps:visited {
	color: #816e01;
}
.steps:focus {
	font-weight: bold;
	text-decoration: underline;
	color: #339966;
}
.thcell {
		max-width: 800px;
	   max-height: 25px;
	   text-align: left;
}
.thead {
	   font-family: arial, verdana, sans-serif;
	   font-style: normal;
	   font-weight: bold;
		 color: Black;
		 text-align: left;
}
.topnav {
	background-color: #000000;
	width: 100%;
	height: 100px;
	padding: 20px 20px 0px 20px;
	margin: 0px 0px;
	z-index: -1;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px 0;
  overflow: hidden;
  background-color: transparent;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover {
	color: crimson;
	background-color: transparent;
}
.topnav .active {
  color: crimson;
}
.wallz {
        display: block;
  		padding: 0px 0px;
}
.wallz:hover {
		color: white;
		background-color: crimson;
}